<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Student Management</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Student Management</h1>
	<table border="7">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Standard</th>
			<th>Father's Name</th>
			<th>Gender</th>
			<th>Address</th>
			<th>Phone</th>
			<th>Actions</th>
		</tr>
		<tr th:each="student : ${students}">
			<td th:text="${student.id}"></td>
			<td th:text="${student.name}"></td>
			<td th:text="${student.standard}"></td>
			<td th:text="${student.fatherName}"></td>
			<td th:text="${student.gender}"></td>
			<td th:text="${student.address}"></td>
			<td th:text="${student.phone}" id="phone"></td>
			<td id="actions"><a
				th:href="@{/edit-student/{id}(id=${student.id})}" id="edit">Edit</a> | <a
				th:href="@{/delete-student/{id}(id=${student.id})}" id="delete"
				onclick="return confirm('Are you sure you want to delete this student?');">Delete</a>
			</td>


		</tr>




	</table>

	<div id="link">
		    <a href="/add-student" id="link1">Add New Student</a>
		    <a href="/students-female" id="link2">Female Students Details</a> 
		    <a href="/students-male" id="link3">Male Students Details</a>
			<a th:href="@{/standard}" id="link4">View By Standard</a>
			<a th:href="@{/address}" id="link5">View By Address</a>
		
	</div>	



</body>

</html>
